.u-section-1 .u-sheet-1 {
  min-height: 1203px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 14px 232px 0 191px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 14px 0;
}

.u-section-1 .u-custom-html-1 {
  margin: 30px 14px 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 24px 92px 0 227px;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  margin: 20px 20px 0;
}

.u-section-1 .u-custom-html-2 {
  margin: 30px 20px 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 22px -175px 0 215px;
}

.u-section-1 .u-text-6 {
  font-size: 1.25rem;
  margin: 30px 12px 0;
}

.u-section-1 .u-custom-html-3 {
  margin: 30px 12px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 132px;
    margin-left: 91px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-custom-html-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 119px;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-custom-html-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-custom-html-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}.u-section-3 .u-sheet-1 {
  min-height: 500px;
}